*{
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.card{
    position: absolute;
    /* top: 50%;
    left:50%;
    transform: translate(-50%,-50%); */
    height: 300px;
    width: 230px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
}

#card1{
    background-color: salmon;
    z-index: 4;
}
#card2{
    rotate: -7deg;
    z-index: 3;
    background-color: blue;
}
#card3{
    rotate: -14deg;
    z-index: 2;
    background-color: green;
}
#card4{
    rotate: -21deg;
    z-index: 1;
    background-color: yellow;
}
#card2:hover{
    z-index: 10;
}
#card3:hover{
    z-index: 10;
}
#card4:hover{
    z-index: 10;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}